{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "no-empty-source": null,
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null,
    "selector-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  }
}
